
<div class="example-container"> 
  <h3><b>Create project</b></h3>
<!-- <mat-form-field>
        <input matInput [matDatepicker]="myDatepicker" [min]="minDate" [matDatepicker]="dateFilter">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker  ></mat-datepicker>
        
       
      </mat-form-field>  -->
      <br>
      <mat-form-field appearance="fill" >
        <mat-label >Project Name:</mat-label>
        <input matInput>
        <!-- <div *ngIf="fb.firstName.errors?.min">First Name is required</div> -->
      </mat-form-field>
    <br>
    <mat-form-field color="blue">
     <mat-label>Date order:</mat-label>
     <input matInput [matDatepicker]="picker1" [min]="minDate" [matDatepicker]="dateFilter">
     <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
     <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field >
     <mat-label >Date due:</mat-label>
     <input matInput [matDatepicker]="picker2" [min]="minDate" [matDatepicker]="dateFilter">
     <mat-datepicker-toggle matSuffix [for]="picker2"  ></mat-datepicker-toggle>
     <mat-datepicker #picker2 color="blue"></mat-datepicker>
    </mat-form-field>
    <br>
    <!-- <button (click)="drowing()">Drow </button> -->
    <!-- <button mat-raised-button color="primary">Primary</button> -->
    <br>
    <button mat-button  (click)="drowing()" color="primary">Drow</button>
   
    <!-- <mat-chip>Dal</mat-chip> -->
   <!-- <mat-button>as</mat-button> -->
</div>
