
<div class="control-section diagram-drawing-tool"id="map">
    <div class="col-lg-8 control-section">
        <div class="content-wrapper">
            
            <ejs-diagram #diagram id="diagram" width="100%" height="540px"   [rulerSettings]='rulerSettings' 
            (created)='diagramCreate($event)' [snapSettings]='snapSettings' (doubleClick)='doubleClick($event)' >
           
            <e-nodes >
                <!-- הורדתי בדיב הבא שורה חשובה אולי[id]="node.id"  -->

                  <e-node  (doubleClick)="doubleClick($event)"  *ngFor="let node of nodes"  [id]="node.id"
                 
                  [height]="node.height" 
                   [width]="node.height"
                   [offsetX]="node.offsetX" 
                   [offsetY]="node.offsetY"
                   [shape]='node.shape.shape'>
                  </e-node>
            </e-nodes>
        </ejs-diagram>
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <div class="property-panel-header">
            Properties
        </div>
        <div class="row property-panel-content" id="appearance">
            <div class="row row-header sb-child-row">
                Shapes
            </div>
            <div class="row sb-child-row">
                
                <div title="Retangle" class="image-pattern-style e-selected-style" id="shape1"
                style="background-image:
                 url(/assets/pictures/icons8_rectangle.ico);
                  margin-right: 3px">
                  
                    <!-- <img src="/assets/pictures/circle.png"> -->
                </div>
              
                <div title="Ellipse" class="image-pattern-style" id="shape2" style="background-image: url(/assets/pictures/icons8_active_state.ico); margin: 0px 3px">
                </div>
                <!-- <div title="circle"  class="image-pattern-style e-selected-style" 
                id="shape1" style="float: right;padding-right: 15px; width: 8%;
                        height: 30%;align-items: center;" >
               <img style="align-items: center; max-width:100px;min-width:100px;
                max-height: 100px;"
           src="\assets\pictures\icons8_active_state.ico"> -->
                <div title="Triangle" class="image-pattern-style" id="shape3" style="background-image: url(/assets/pictures/icons8_triangle.ico);">
                </div> 
             
   
            </div>
            <!-- <div class="row sb-child-row"> -->
                <!-- <div title="Pentagon" class="image-pattern-style" id="shape4" style="background-image: url(./assets/diagram/Images/drawingTool/basicshape/DrawingTool_4.png); margin-right: 3px">
                </div> -->
                <!-- <div title="Hexagon " class="image-pattern-style" id="shape5" style="background-image: url(/assets/pictures/icons8_triangle.ico);position:unset; margin: 0px 3px">
                </div> -->
                <!-- <div title="Path" class="image-pattern-style" id="path" style="background-image: url(./assets/diagram/Images/drawingTool/DrawingTool_6.png);">
                </div> -->
            <!-- </div> -->
            <!-- <div class="row sb-child-row">
                <div title="Image" class="image-pattern-style" id="image" style="background-image: url(./assets/diagram/Images/drawingTool/DrawingTool_7.png); margin-right: 3px">
                </div>
                <div title="SVG" class="image-pattern-style" id="svg" style="background-image: url(./assets/diagram/Images/drawingTool/DrawingTool_8.png); margin-right: 3px">
                </div>
                <div title="Text" class="image-pattern-style" id="text" style="background-image: url(./assets/diagram/Images/drawingTool/DrawingTool_9.png); margin-right: 3px">
                </div>
            </div> -->
            <!-- <div class="row row-header sb-child-row">
                Connector
            </div>
            <div class="row sb-child-row">
                <div class="image-pattern-style" id="straight" style="background-image: url(./assets/diagram/Images/drawingTool/connector/Connectors_1.png); margin-right: 3px">
                </div>
                <div class="image-pattern-style" id="ortho" style="background-image: url(./assets/diagram/Images/drawingTool/connector/Connectors_2.png); margin: 0px 3px">
                </div>
                <div class="image-pattern-style" id="cubic" style="background-image: url(./assets/diagram/Images/drawingTool/connector/Connectors_3.png); ">
                </div>
            </div> -->
            <div class="row" style="padding-top: 10px">
                <ejs-checkbox id='checked' [(checked)]="continuousDraw" label='Continous Draw'></ejs-checkbox>
            </div>
        </div>
    </div>
</div>
